@mixin button($color, $p-top) {
  min-height: 47px;
  padding-top: $p-top;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(256, 256, 256, 0) 30%,
    rgba(0, 0, 0, 0.3) 80%
  );
  background-color: $color;
}
