// ------------ ШРИФТЫ ----------------
$ff-accent: Manrope, sans-serif;
$ff-primary: Roboto, sans-serif;
$ff-chat: Roboto Slab, serif;

$fw-primary: 400;
$fw-accent: 600;
$fw-accent2: 700;

$fs-primary: 14px;

// ------------- ЦВЕТА -----------------
$color-accent: #ffe400;
$color-accent-2: #463db0;

$color-bg-dark: #000000;
$color-bg-card: #040031;
$color-bg-light: #ffffff;
$color-bg-gray: #fefefe;

$color-font-primary: #464646;
$color-font-light: #ffffff;
$color-font-dark: #000000;
