.hero-form {
  background-color: $color-bg-dark;

  &__title {
    min-height: 47px;
    padding-top: 10px;
    background-color: $color-accent-2;
    @extend %shadow;

    text-align: center;
    font-family: $ff-accent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-font-light;
  }

  &__form {
    padding: 30px;
    padding-bottom: 15px;
  }

  &__field,
  &__text {
    position: relative;
    display: block;
    margin-bottom: 25px;
  }

  &__input {
    @extend %form-field;
    height: 43px;
  }

  &__textarea {
    @extend %form-field;
  }

  &__field::before {
    @extend %form-line;
    margin-bottom: 18px;
  }

  &__text::before {
    @extend %form-line;
    margin-bottom: 0px;
    bottom: 0px;
    top: unset;
  }

  &__submit {
    @include button($color-accent, 0);
    width: 100%;
    border: 0px;
    font-family: $ff-accent;
    font-size: 24px;
    font-weight: 700;
  }

  // -----------КНОПКИ МЕСЕНДЖЕРОВ ----------------
  &__list {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__message {
    margin-bottom: 15px;

    &--whatsapp {
      @include button(#43d854, 0);
    }

    &--viber {
      @include button(#665cac, 0);
    }

    &--telegram {
      @include button(#0088cc, 0);
    }
  }

  &__link {
    display: flex;
    max-width: 250px;
    height: 100%;
    padding-top: 6px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  &__svg {
    display: block;
    width: 35px;
    height: 35px;
    fill: white;
  }

  &__sm-text {
    padding-top: 6px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }
}

.hero-form__link div {
  align-content: center;
}
