.hero-form {
  background-color: $color-bg-dark;

  &__title {
    background-color: $color-accent-2;
    height: 50px;
    text-align: center;
    font-family: $ff-accent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 13px;
    color: $color-font-light;
  }

  &__form {
    padding: 30px;
  }

  &__field {
    display: block;
    margin-bottom: 25px;
  }

  &__input {
    position: relative;
    background: #000;
    width: 100%;
    height: 43px;
  }

  &__input::after {
    content: "";
    position: absolute;
    display: block;

    top: 55px;
    width: 100px;
    height: 55px;
    background-color: red;
    margin-bottom: 25px;
    outline: 1px solid tomato;
  }
}
