.garant {
  padding-top: 87px;
  padding-bottom: 10px;
  background-image: url(../images/bgc-about1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 10px solid $color-accent;

    font-family: $ff-accent;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 1.22;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;
  }
}
