.garant {
  padding-top: 97px;
  padding-bottom: 10px;
  background-image: url(../images/bgc-about1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    & .container {
      max-width: 900px;
    }
  }

  &__title {
    margin-bottom: 45px;
    padding-bottom: 80px;
    border-bottom: 10px solid $color-accent;

    font-family: $ff-accent;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 1.22;

    @media screen and (min-width: 1200px) {
      font-size: 45px;
      font-weight: 400;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;

    @media screen and (min-width: 1200px) {
      line-height: 1.6;
    }
  }
}
