.header {
  background-color: $color-bg-dark;
}

.nav {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;

  &__logo {
    height: 47px;
    padding-right: 10px;
  }

  &__tel {
    position: relative;
    min-width: 47px;
    min-height: 47px;
    background-color: $color-accent-2;

    margin-right: 8px;
    margin-left: auto;
  }

  &__menu {
    position: relative;
    min-width: 47px;
    min-height: 47px;
    background-color: $color-accent;
  }

  .nav__tel::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("/images/phone-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 11px;
    top: 11px;
    width: 25px;
    height: 25px;
  }

  .nav__menu::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(./images/menu-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 11px;
    top: 11px;
    width: 25px;
    height: 25px;
  }
}
