.header {
  background-color: $color-bg-dark;
}

.nav {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;

  &__logo {
    height: 47px;
    padding-right: 10px;
  }

  &__tel {
    min-width: 47px;
    min-height: 47px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $color-accent-2;

    margin-right: 15px;
    margin-left: auto;
  }

  &__menu {
    min-width: 47px;
    min-height: 47px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $color-accent;
  }

  &__svg {
    width: 27px;
    height: 27px;
  }
}
