.process {
  padding-top: 87px;
  padding-bottom: 10px;
  background-color: #040031;

  @media screen and (min-width: 768px) {
    background-color: $color-bg-light;
  }

  & .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    @include accent-text(32px, 700, 1.2, 2px, $color-accent);
    margin-bottom: 30px;
    text-align: center;
  }

  &__item-title {
    @include accent-text(20px, 700, 1.2, 0.5px, #f0f0f0);
    margin-bottom: 25px;
  }

  &__item-text {
    margin-bottom: 30px;
    margin-left: 100px;
    color: #c0c0c0;
    font-size: 18px;
    text-align: right;
  }

  &__item-title::first-letter {
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-right: 15px;

    font-size: 30px;
    font-weight: 700;
    color: $color-accent;
    line-height: 30px;
    float: left;
  }

  &__text {
    margin-bottom: 10px;
    color: #c0c0c0;
    font-size: 18px;
    text-align: center;
  }

  &__button {
    display: flex;
    position: relative;
    justify-content: center;
    @include button($color-accent, 0);
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, 70%);
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.5);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.8);
  }
  &__btn-text {
    @include accent-text(24px, 800, 1.55, 0px, $color-font-dark);
  }
}

.our-process {
  @media screen and (min-width: 768px) {
    width: 67%;
    position: relative;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: $color-bg-card;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -50%;
      width: 50%;
      height: 100%;
      background-color: #fff;
      background-image: url(../images/tel-doc-tab.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.client-process {
  @media screen and (min-width: 768px) {
    position: relative;
    width: 67%;
    margin-left: auto;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 15px;
    background-color: $color-bg-card;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background-image: url(../images/doc-tab.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
